<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="author" content="Edoardo Lenzi">
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="assets/favicon.ico"/>	
		<link rel="stylesheet" href="/bootstrap3/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/common/style.css">
		<link rel="stylesheet" href="/check/check.css">
	</head>
	<body>
		<div class="container-fluid white full-width-expansion">
			<div class = "row center">
				<h1 class="large">TrackMe</h1>
				<p class="medium">Check you email for the verification code</p>
			</div>
			<div class = "row small">
				<div class = "col-md-12">
					<div class="form-group">
						<input type="text" placeholder="Code" id="code" class="form-control col-input">
					</div>
					<div class="form-group">
						<button onclick="verifyCode()" class="btn btn-primary">Verify</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/check/bootstrap-show-password.min.js"></script>
	<script src="/common/httpClient.js"></script>
	<script src="/common/utils.js"></script>
	<script src="/check/check.js"></script>
</html>